<div style="padding: 32px 0">
    <i>Creato da {{ appunto.nomeUtente }}</i>
    <h6>Argomento: {{ appunto.argomento }}</h6>
    <textarea disabled rows="10" style="width: 100%">{{ appunto.testo }}</textarea>
</div>