{% extends 'base-page.twig' %}
{% block content %}
    {% if user %}
        <a href="aggiungiCorso.php" class="btn btn-primary active" role="button" aria-pressed="true">Aggiungi corso</a>
    {% endif %}
    <ul>
        {% for corso in corsi %}
            <li>
                <a href="corso.php?corso={{ corso.codice|url_encode }}">{{ corso.codice }} - {{ corso.nome }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}