{% extends 'base-page.twig' %}
{% block content %}
    <h1>Benvenuto in TuttiAppunti!</h1>
    <p> Il sito creato dagli studenti di Informatica, per gli studenti di Informatica!</p>
    <p>In questo sito puoi trovare appunti per qualsiasi corso del Corso di Laurea in Informatica dell'Università Ca' Foscari di Venezia.</p>
        <p>Ti interessa un appunto in particolare o una lezione in una data particolare?
        Allora sei nel posto giusto! Non devi far altro che scrivere l'argomento nella barra di ricerca
        e premere invio.</p>
    <p>Vuoi collaborare anche tu? Comincia subito a inserire gli appunti!</p>
    <p>E ricorda: "Dai un aiuto oggi, riceverai due aiuti domani!"</p>
    <p>Buona permanenza! </p>

{% endblock %}